header.header 
    .container 
        .header__body 
            div(class="header__logo logo")
              img(src="../images/svg/logo/logo.svg", alt="logo")
               
            nav(class="header__menu menu")
                ul.menu__list 
                    li.menu__item 
                        a(href="#" class="menu__link") Home 
                    li.menu__item 
                        a(href="#" class="menu__link") Blog2
                    li.menu__item 
                        a(href="#" class="menu__link") Contact1